Repository JacekZubielik/k3s-homelab-autopilot, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/apps, area/bootstrap, area/dev, area/monitoring, area/project, area/storage, area/system

docs(cleanup): code
  README.md
Labels: none

test(path): add new path for generator
  projects/trade.yaml
Labels: none

build(replicacount): update
  apps/binance-proxy/overlays/trade/values.yaml
Labels: area/apps

build(autoscaling): minReplicas: 2
  apps/binance-proxy/overlays/trade/values.yaml
Labels: area/apps

test(path): update
  projects/trade.yaml
Labels: none

test(path): for apps
  apps/trade/binance-proxy/base/kustomization.yaml
  apps/trade/binance-proxy/overlays/dev/config.json
  apps/trade/binance-proxy/overlays/dev/kustomization.yaml
  apps/trade/binance-proxy/overlays/dev/values.yaml
  apps/trade/binance-proxy/overlays/trade/config.json
  apps/trade/binance-proxy/overlays/trade/kustomization.yaml
  apps/trade/binance-proxy/overlays/trade/values.yaml
  projects/trade.yaml
Labels: area/apps

test(path): srcPath update
  apps/trade/binance-proxy/overlays/dev/config.json
  apps/trade/binance-proxy/overlays/trade/config.json
Labels: area/apps

test(path): move to iot path
  apps/iot/esphome/base/kustomization.yaml
  apps/iot/esphome/overlays/iot/config.json
  apps/iot/esphome/overlays/iot/kustomization.yaml
  apps/iot/esphome/overlays/iot/resources/ingressroute.yaml
  apps/iot/esphome/overlays/iot/resources/pv.yaml
  apps/iot/esphome/overlays/iot/resources/pvc.yaml
  apps/iot/esphome/overlays/iot/values.yaml
Labels: area/apps

build(path): set correct path
  projects/trade.yaml
Labels: none

build(path): move to storage path
  apps/storage/syncthing/base/kustomization.yaml
  apps/storage/syncthing/overlays/storage/config.json
  apps/storage/syncthing/overlays/storage/kustomization.yaml
  apps/storage/syncthing/overlays/storage/resources/ingressroute-authentik.yaml
  apps/storage/syncthing/overlays/storage/resources/ingressroute.yaml
  apps/storage/syncthing/overlays/storage/resources/pv.yaml
  apps/storage/syncthing/overlays/storage/resources/pvc.yaml
  apps/storage/syncthing/overlays/storage/values.yaml
Labels: area/apps

build(path): set correct path
  projects/storage.yaml
Labels: none

build(path): move to user
  apps/homepage/base/values.yaml
  apps/homepage/overlays/dev/kustomization.yaml
  apps/user/homepage/base/kustomization.yaml
  apps/user/homepage/overlays/dev/config.json
  apps/user/homepage/overlays/dev/kustomization.yaml
  apps/user/homepage/overlays/dev/resources/ingressroute.yaml
  apps/user/homepage/overlays/dev/resources/service.yaml
  apps/user/homepage/overlays/dev/values.yaml
Labels: area/apps

ci(update): labels
  .github/labels.yaml
Labels: area/github

build(path): move to system
  apps/system/authentik/overlays/dev/config.json
Labels: area/apps

build(path): move to system
  apps/system/authentik/base/kustomization.yaml
  apps/system/authentik/dev/config.json
  apps/system/authentik/dev/kustomization.yaml
  apps/system/authentik/dev/resources/ingressroute.yaml
  apps/system/authentik/dev/values.yaml
Labels: area/apps

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/apps:
  - changed-files:
      - any-glob-to-any-file: "apps/**/*"
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/dev:
  - changed-files:
      - any-glob-to-any-file: "dev/**/*"
area/monitoring:
  - changed-files:
      - any-glob-to-any-file: "monitoring/**/*"
area/project:
  - changed-files:
      - any-glob-to-any-file: "project/*"
area/storage:
  - changed-files:
      - any-glob-to-any-file: "storage/**/*"
area/system:
  - changed-files:
      - any-glob-to-any-file: "system/**/*"
