Repository JacekZubielik/k3s-homelab-autopilot, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/apps, area/bootstrap, area/dev, area/monitoring, area/project, area/storage, area/system

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/apps:
  - changed-files:
      - any-glob-to-any-file: "apps/**/*"
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/dev:
  - changed-files:
      - any-glob-to-any-file: "dev/**/*"
area/monitoring:
  - changed-files:
      - any-glob-to-any-file: "monitoring/**/*"
area/project:
  - changed-files:
      - any-glob-to-any-file: "project/*"
area/storage:
  - changed-files:
      - any-glob-to-any-file: "storage/**/*"
area/system:
  - changed-files:
      - any-glob-to-any-file: "system/**/*"

build(init): after delete
  apps/external-dns/base/kustomization.yaml
  apps/external-dns/base/secrets/sealed-secrets.yaml
  apps/external-dns/base/values.yaml
  apps/external-dns/overlays/dev/config.json
  apps/external-dns/overlays/dev/kustomization.yaml
Labels: area/apps

chore(srctargetrevision): set to HEAD
  apps/external-dns/overlays/dev/config.json
Labels: area/apps

style(lint): clean code
  apps/external-dns/base/secrets/sealed-secrets.yaml
  apps/external-dns/base/values.yaml
Labels: area/apps

ci(lint): ignore secrets
  .github/linters/.yamllint.yaml
Labels: area/github

ci(ignore): fix
  .github/linters/.yamllint.yaml
Labels: area/github

build(patches): add domain-filter and IRSA
  system/external-dns/base/kustomization.yaml
  system/external-dns/base/secrets/sealed-secrets.yaml
  system/external-dns/base/values.yaml
  system/external-dns/overlays/dev/config.json
  system/external-dns/overlays/dev/deployment.jsonpatch.yaml
  system/external-dns/overlays/dev/kustomization.yaml
  system/external-dns/overlays/dev/serviceaccount.jsonpatch.yaml
Labels: area/system

build(overlay): move to system
  system/external-dns/base/kustomization.yaml
  system/external-dns/overlays/system/config.json
  system/external-dns/overlays/system/deployment.jsonpatch.yaml
  system/external-dns/overlays/system/kustomization.yaml
  system/external-dns/overlays/system/secrets/sealed-secrets.yaml
  system/external-dns/overlays/system/serviceaccount.jsonpatch.yaml
  system/external-dns/overlays/system/values.yaml
Labels: area/system

build(namespace): add externa-dns
  system/external-dns/overlays/prod/config.json
  system/external-dns/overlays/prod/deployment.jsonpatch.yaml
  system/external-dns/overlays/prod/kustomization.yaml
  system/external-dns/overlays/prod/secrets/sealed-secrets.yaml
  system/external-dns/overlays/prod/serviceaccount.jsonpatch.yaml
  system/external-dns/overlays/prod/values.yaml
Labels: area/system

fix(code): srcPath
  system/external-dns/overlays/prod/config.json
Labels: area/system

fix(patches): disable policy=sync
  system/external-dns/overlays/prod/deployment.jsonpatch.yaml
Labels: area/system

fix(remove): dev
  apps/external-dns/base/kustomization.yaml
  apps/external-dns/base/secrets/sealed-secrets.yaml
  apps/external-dns/base/values.yaml
  apps/external-dns/overlays/dev/config.json
  apps/external-dns/overlays/dev/kustomization.yaml
Labels: area/apps

build(project): system
  projects/system.yaml
Labels: none

build(move): to system
  system/external-dns/overlays/system/config.json
  system/external-dns/overlays/system/deployment.jsonpatch.yaml
  system/external-dns/overlays/system/kustomization.yaml
  system/external-dns/overlays/system/secrets/sealed-secrets.yaml
  system/external-dns/overlays/system/serviceaccount.jsonpatch.yaml
  system/external-dns/overlays/system/values.yaml
Labels: area/system

build(project): move to system
  system/cert-manager/overlays/system/config.json
  system/cert-manager/overlays/system/kustomization.yaml
  system/cert-manager/overlays/system/patches/ignore-deployment-mutation-patch.yaml
  system/cert-manager/overlays/system/patches/remove-instance-label.jsonpatch.yaml
  system/cert-manager/overlays/system/resources/cert-production.yaml
  system/cert-manager/overlays/system/resources/cert-staging.yaml
  system/cert-manager/overlays/system/resources/default.svc-certificate.yaml
  system/cert-manager/overlays/system/resources/default.svc-issuer.yaml
  system/cert-manager/overlays/system/resources/letsencrypt-production.yaml
  system/cert-manager/overlays/system/resources/letsencrypt-staging.yaml
  system/cert-manager/overlays/system/resources/servicemonitor.yaml
  system/cert-manager/overlays/system/secrets/sealed.secret.yaml
Labels: area/system

build(project): move to system
  system/sealed-secrets/base/kustomization.yaml
  system/sealed-secrets/overlays/system/config.json
  system/sealed-secrets/overlays/system/kustomization.yaml
  system/sealed-secrets/overlays/system/values.yaml
Labels: area/system

build(subdomain): add
  system/external-dns/overlays/system/deployment.jsonpatch.yaml
Labels: area/system

fix(lint): new line character at the end of file
  system/external-dns/overlays/system/deployment.jsonpatch.yaml
Labels: area/system

build(init): project dev
  system/authentik/overlays/dev/config.json
Labels: area/system

build(init): dev-authentik
  system/authentik/base/kustomization.yaml
  system/authentik/overlays/dev/kustomization.yaml
  system/authentik/overlays/dev/resources/ingressroute.yaml
  system/authentik/overlays/dev/values.yaml
Labels: area/system

build(remove): sealed-secrets infra
  apps/sealed-secrets/base/kustomization.yaml
  apps/sealed-secrets/overlays/infra/config.json
  apps/sealed-secrets/overlays/infra/kustomization.yaml
  apps/sealed-secrets/overlays/infra/values.yaml
Labels: area/apps

build(remove): from system
  system/authentik/base/kustomization.yaml
  system/authentik/overlays/dev/config.json
  system/authentik/overlays/dev/kustomization.yaml
  system/authentik/overlays/dev/resources/ingressroute.yaml
  system/authentik/overlays/dev/values.yaml
Labels: area/system

build(init): dev-authentik
  apps/authentik/overlays/dev/config.json
Labels: area/apps

build(init): dev-authentik
  apps/authentik/base/kustomization.yaml
  apps/authentik/overlays/dev/kustomization.yaml
  apps/authentik/overlays/dev/resources/ingressroute.yaml
  apps/authentik/overlays/dev/values.yaml
Labels: area/apps

build(namespace): dev
  apps/authentik/overlays/dev/resources/ingressroute.yaml
Labels: area/apps

build(path): add generators path
  projects/monitoring.yaml
Labels: none

build(remove): kube-prometheus-stack
  apps/kube-prometheus-stack/base/kustomization.yaml
  apps/kube-prometheus-stack/base/resources/ingressroute.yaml
  apps/kube-prometheus-stack/base/values.yaml
  apps/kube-prometheus-stack/overlays/monitoring/config.json
  apps/kube-prometheus-stack/overlays/monitoring/kustomization.yaml
Labels: area/apps

build(init): commit monitoring
  monitoring/kube-prometheus-stack/base/kustomization.yaml
  monitoring/kube-prometheus-stack/base/resources/ingressroute.yaml
  monitoring/kube-prometheus-stack/base/values.yaml
  monitoring/kube-prometheus-stack/overlays/monitoring/config.json
  monitoring/kube-prometheus-stack/overlays/monitoring/kustomization.yaml
Labels: area/monitoring

build(storage): move to storage
  storage/syncthing/overlays/prod/config.json
  storage/syncthing/overlays/prod/kustomization.yaml
  storage/syncthing/overlays/prod/values.yaml
Labels: area/storage

build(path): to storage
  projects/storage.yaml
Labels: none

build(srcpath): add overlays/storage
  storage/syncthing/overlays/prod/config.json
Labels: area/storage

build(overlay): move to storage
  storage/syncthing/overlays/storage/config.json
  storage/syncthing/overlays/storage/kustomization.yaml
  storage/syncthing/overlays/storage/resources/ingressroute-authentik.yaml
  storage/syncthing/overlays/storage/resources/ingressroute.yaml
  storage/syncthing/overlays/storage/resources/pv.yaml
  storage/syncthing/overlays/storage/resources/pvc.yaml
  storage/syncthing/overlays/storage/values.yaml
Labels: area/storage

ci(update): workflow and pull request
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/lint.yaml
  .github/workflows/lint.yml
Labels: area/github

build(lint): cleanup code
  projects/dev.yaml
  projects/infra.yaml
  projects/iot.yaml
  projects/monitoring.yaml
  projects/prod.yaml
  projects/staging.yaml
  projects/trade.yaml
Labels: none

build(project): add trade
  apps/binance-proxy/base/kustomization.yaml
  apps/binance-proxy/overlays/dev/kustomization.yaml
  apps/binance-proxy/overlays/dev/values.yaml
  apps/binance-proxy/overlays/trade/config.json
  apps/binance-proxy/overlays/trade/kustomization.yaml
  apps/binance-proxy/overlays/trade/values.yaml
Labels: area/apps

build(lint): code cleanup
  apps/esphome/overlays/iot/config.json
  apps/esphome/overlays/iot/kustomization.yaml
  apps/esphome/overlays/iot/resources/ingressroute.yaml
  apps/esphome/overlays/iot/resources/pv.yaml
  apps/esphome/overlays/iot/resources/pvc.yaml
  apps/esphome/overlays/iot/values.yaml
Labels: area/apps

build(lint): cleanup code
  apps/node-app/overlays/dev/kustomization.yaml
  apps/node-app/overlays/dev/resources/deployment.yaml
  apps/node-app/overlays/dev/resources/ingressroute.yaml
  apps/node-app/overlays/dev/resources/service.yaml
  apps/node-app/overlays/prod/kustomization.yaml
  apps/node-app/overlays/prod/resources/deployment.yaml
  apps/node-app/overlays/prod/resources/ingressroute.yaml
  apps/node-app/overlays/prod/resources/service.yaml
Labels: area/apps

style(lint): code cleanup
  apps/traefik/base/kustomization.yaml
  apps/traefik/overlays/dev/kustomization.yaml
  apps/traefik/overlays/dev/resources/chains.yaml
  apps/traefik/overlays/dev/resources/dashboard.yaml
  apps/traefik/overlays/dev/resources/middlewares.yaml
  apps/traefik/overlays/dev/resources/servicemonitor.yaml
  apps/traefik/overlays/dev/resources/tlsoption.yaml
  apps/traefik/overlays/dev/values.yaml
Labels: area/apps

build(project): move to system
  system/traefik/base/kustomization.yaml
  system/traefik/overlays/system/config.json
  system/traefik/overlays/system/kustomization.yaml
  system/traefik/overlays/system/resources/chains.yaml
  system/traefik/overlays/system/resources/dashboard.yaml
  system/traefik/overlays/system/resources/middlewares.yaml
  system/traefik/overlays/system/resources/servicemonitor.yaml
  system/traefik/overlays/system/resources/tlsoption.yaml
  system/traefik/overlays/system/resources/tlsstore.yaml
  system/traefik/overlays/system/secrets/seal-secrets.yaml
  system/traefik/overlays/system/values.yaml
Labels: area/system

build(remove): traefik from dev
  apps/traefik/base/kustomization.yaml
  apps/traefik/overlays/dev/config.json
  apps/traefik/overlays/dev/kustomization.yaml
  apps/traefik/overlays/dev/resources/chains.yaml
  apps/traefik/overlays/dev/resources/dashboard.yaml
  apps/traefik/overlays/dev/resources/middlewares.yaml
  apps/traefik/overlays/dev/resources/servicemonitor.yaml
  apps/traefik/overlays/dev/resources/tlsoption.yaml
  apps/traefik/overlays/dev/resources/tlsstore.yaml
  apps/traefik/overlays/dev/secrets/seal-secrets.yaml
  apps/traefik/overlays/dev/values.yaml
Labels: area/apps

docs(init): commit
  Makefile
  README.md
Labels: none
